[submodule "application/extensions/yii-debug-toolbar"]
	path = application/extensions/yii-debug-toolbar
	url = https://github.com/malyshev/yii-debug-toolbar.git
[submodule "application/extensions/maintenance"]
	path = application/extensions/maintenance
	url = git@github.com:karagodin/MaintenanceMode.git
